body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Menu styles */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 999;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu ul li {
  display: inline-block;
}

.menu ul li a {
  display: block;
  padding: 30px 100px;
  text-decoration: none;
  color: white;
  
}

/* Banner styles */
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.banner-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('a4.jpg') no-repeat center center fixed;
  background-size: cover;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease;
  z-index: 1;
}

.banner:hover .banner-content {
  opacity: 1;
}

/* Main content styles */
.main-content {
  padding: 40px;
}

.main-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color:maroon;
}

  .main-content b {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
  
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.row {
  flex-basis: 0 0 33.33%;
  padding: 35px;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.1s ease;
}

.row img {
  width: 300px;
  height: 300px;
  ; /* Adjust the maximum height as needed */
}

.row h2 {
  margin-top: 10px;
  font-size: 24px;
}

.row b {
  margin-top: 10px;
  font-size: 16px;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: 10% auto;
  width: 80%;
  position: relative;
}

.modal-content img {
  width: 100%;
  height: auto;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

/* Footer styles */
 footer {
      background-color: black;
      padding: 20px;
      text-align: center;
    }

    footer a {
     padding: 20px 100px;
      text-decoration: none;
      color: wheat;
    }
    footer a:hover{
       padding: 20px 100px;
        background-color: white;
        color: black;
    }
.row h2{color:maroon;}
  
